<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Shipping Details</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Port of Discharge<span class="required">*</span></label>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Place of Delivery<span class="required">*</span></label>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
