.accordion {
  border-top: 1px solid $grey-base;
  ul {
    li {
      padding: 10px;
      border-bottom: 1px solid $grey-base;
      position: relative;
      a {
        color: $black-base;
        font-size: $s-delta;
        font-weight: 900;
        span {
          float: right;
          color: $grey-alt;
          font-size: $s-foxtrot;
          font-weight: 100;
          line-height: 23px;
          padding-right: 20px;
        }
        &:after {
          content: '';
          background-image: url(../images/icons/icons-functional/icon-select.svg);
          position: absolute;
          right: 10px;
          top: 18px;
          width: 12px;
          height: 6px;
        }
      }
      ul {
        &.subnav {
          margin: 10px -10px 0;
          display: none;
          li {
            border: none;
            margin: 0;
            font-size: 14px;
            a {
              font-size: 14px;
              font-weight: bold;
              padding: 10px;
              margin-bottom: 0px;
              cursor: pointer;
              span {
                font-size: 12px;
                line-height: 18px;
                font-weight: normal;
              }
              &:after {
                content: '';
                display: none;
              }
            }
            &.active {
              a {
                color: $blue-light;
                span {
                  color: $blue-light;
                }
              }
              background-color: rgba(92,169,251,0.08);
              position: relative;
              &:before {
                content: '';
                width: 3px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $blue-light;
              }
            }
          }
        }
      }
    }
  }
}
