// Tooltip Component Stylesheet
// ========================================


// Variables
$tooltip-margin:             0 auto;
$tooltip-offset:             null null 20px null;
$tooltip-opacity-0:          0;
$tooltip-opacity-1:          1;
$tooltip-position:           absolute;
$tooltip-transition:         opacity 0.35s ease-in-out;
$tooltip-visibiltiy:         visible;
$tooltip-width-sm:           250px;
$tooltip-width-md:           350px;
$tooltip-z-index:            10;

$tooltip-item-display:       inline-block;
$tooltip-item-position:      relative;

$tooltip-icon-cords:         -5px -20px null null;
$tooltip-icon-fill:          $black-base;
$tooltip-icon-position:      absolute;
$tooltip-icon-size:          15px;

$tooltip-text-color:         $white-base;
$tooltip-text-line-height:   normal;
$tooltip-text-shadow-color:  rgba(0, 0, 0, 0.15);
$tooltip-text-shadow-spread: 0 5px 10px;


// Structure
.tooltip {
  @extend .card--shadow;
  @extend .card--md;
  background-color: $black-base;
  position: $tooltip-position;
  bottom: 20px;
  opacity: $tooltip-opacity-0;
  transition: $tooltip-transition;
  visibility: hidden;
  width: $tooltip-width-sm;
  z-index: $tooltip-z-index;
  &.right {
    right: calc(100% - 405px);
    top: 0px;
    min-height: 60px;
    &:before{
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right:8px solid $black-base;
      left:-8px;
      top:7px;
    }
  }
  &.left {
    right: calc(100% - -10px);
    top: 0px;
    min-height: 60px;
    &:before{
      content:'';
      display:block;
      width:0;
      height:0;
      position:absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left:8px solid $black-base;
      right:-8px;
      top:7px;
    }
  }
  &.up {
    right: calc(100% - 200px);
    top: -60px;
    min-height: 60px;
    &:before{
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid $black-base;
      border-left: 8px solid transparent;
      right: 50%;
      bottom: -15px;
      border-right: 8px solid transparent;
      transform: rotate(180deg);
    }
  }
  &.down {
    right: calc(100% - 200px);
    top: 30px;
    min-height: 60px;
    &:before{
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 8px solid transparent;
      border-bottom: 8px solid $black-base;
      border-left: 8px solid transparent;
      right: 162px;
      top: -15px;
      border-right: 8px solid transparent;
    }
  }

  @include media($large) {
    width: $tooltip-width-md;
    &.right {
      right: calc(100% - 405px);
    }
    &.left {
      right: calc(100% - -10px);
    }
    &.up {
      right: calc(100% - 200px);
    }
    &.down {
      right: calc(100% - 200px);
    }
  }

  &__item {
    position: $tooltip-item-position;
    display: $tooltip-item-display;

    &:focus,
    &:hover .tooltip {
      opacity: $tooltip-opacity-1;
      visibility: $tooltip-visibiltiy;
    }
  }

  &__label,
  &__icon {
    display: $tooltip-item-display;
    cursor: help;
  }

  &__label {
    position: $tooltip-item-position;
  }

  &__icon {
    position: $tooltip-item-position;
    top: -5px;
    right: -20px;
    height: $tooltip-icon-size;
    width: $tooltip-icon-size;

    svg #app-icon {
      fill: $tooltip-icon-fill;
    }
  }

  &__text {
    @include font-type($primary-sans-serif, normal, 400);
    @include s-golf;
    line-height: $tooltip-text-line-height;
    margin: 0;
    text-transform: none;
    color: $white-base;
  }
}
