<!-- Search Box -->
  <section class="search">
    <div class="container">
      <div class="row">
        <div class="columns-3__m columns-4__l">
          <!-- Basic Text Input -->
          <input type="search" placeholder="Placeholder text" />
        </div>
        <div class="columns-3__m columns-4__l">
          <!-- Basic Text Input -->
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="columns-3__m columns-4__l">
          <!-- Basic Text Input -->
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="columns-3__m columns-4__l">
          <!-- Basic Text Input -->
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="columns-3__m columns-4__l">
          <!-- Basic Text Input -->
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="columns-3__m columns-4__l">
          <!-- Basic Text Input -->
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <button class="button--secondary">Search</button>
        <button class="button--default">Clear</button>
        <a href="#" class="collapse-panel"><img class="collapse" src="../images/icons/icons-functional/icon-arrow-up.svg" alt="Arrow Up"></a>
      </div>
    </div>
  </section>

  <section class="search collapsed">
    <div class="container">
      <div class="row">
        <div class="columns-9__m columns-9__l">
          <!-- Basic Text Input -->
          <input type="search" placeholder="Placeholder text" />
        </div>
        <div class="columns-3__m columns-3__l">
          <button class="button--secondary">Search</button>
          <button class="button--default">Clear</button>
          <a href="#" class="collapse-panel"><img class="expand" src="../images/icons/icons-functional/icon-arrow-down.svg" alt="Arrow Down"></a>
        </div>
      </div>
    </div>
  </section>
