<section class="tables">
  <div class="card--shadow">
    <!-- Tab List -->
    <div class="tabs">
      <ul class="tab__list">
        <li class="tab__item is-active" data-tab="tab-1">All Vehicles</li>
        <li class="tab__item" data-tab="tab-2">Auto</li>
        <li class="tab__item" data-tab="tab-3">Motorcycles</li>
        <li class="tab__item" data-tab="tab-4">Watercraft</li>
        <li class="tab__item" data-tab="tab-5">Machinery</li>
        <li class="tab__item" data-tab="tab-6">Other</li>
      </ul>
    </div>

    <!-- Tab Panes -->
    <div id="tab-1" class="tab__content is-active">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Loc</th>
            <th>Description</th>
            <th>Lot #</th>
            <th>VIN</th>
            <th>Client</th>
            <th>Buyer</th>
            <th>Auction Loc.</th>
            <th>Purchased</th>
            <th>Promised</th>
            <th>Transporter</th>
            <th>Problem</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Term</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Input</td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="tab-2" class="tab__content">
      Tab Content 2
    </div>
    <div id="tab-3" class="tab__content">
      Tab Content 3
    </div>
    <div id="tab-4" class="tab__content">
      Tab Content 4
    </div>
    <div id="tab-5" class="tab__content">
      Tab Content 5
    </div>
    <div id="tab-6" class="tab__content">
      Tab Content 6
    </div>

  </div>
</section>
