<section class="tables">
  <div class="card--shadow">
    <!-- Tab List -->
    <div class="tabs">
      <ul class="tab__list">
        <li class="tab__item is-active" data-tab="tab-1">All Vehicles</li>
        <li class="tab__item" data-tab="tab-2">Auto</li>
        <li class="tab__item" data-tab="tab-3">Motorcycles</li>
        <li class="tab__item" data-tab="tab-4">Watercraft</li>
        <li class="tab__item" data-tab="tab-5">Machinery</li>
        <li class="tab__item" data-tab="tab-6">Other</li>
      </ul>
    </div>

    <!-- Tab Panes -->
    <div id="tab-1" class="tab__content is-active">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Loc</th>
            <th>Description</th>
            <th>Lot #</th>
            <th>VIN</th>
            <th>Client</th>
            <th>Buyer</th>
            <th>Auction Loc.</th>
            <th>Purchased</th>
            <th>Promised</th>
            <th>Transporter</th>
            <th>Problem</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Term</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td class="tooltip__item"><a href="/existing-vehicle/" class="link--primary">2005 Volvo CX90</a>
              <figure class="tooltip down white">
                <div class="tooltip__img"><img src="images/car-image.png"></div>
                <div class="tooltip__list">
                  <div class="tooltip__category">
                    <ul>
                      <li>Purchase Date</li>
                      <li>Purchase Location</li>
                      <li>Destination</li>
                      <li>Actual Delivered</li>
                    </ul>
                  </div>
                  <div class="tooltip__desc">
                    <ul>
                      <li>05/012018</li>
                      <li>Dealer (DEALER)</li>
                      <li>Kaunas, LT</li>
                      <li>0501/2018</li>
                    </ul>
                  </div>
                </div>
              </figure>
            </td>
            <td>50957107</td>
            <td class="tooltip__item">164062
              <figure class="tooltip right">
                <p class="tooltip__text">Need help with something? Read this message for more details.</p>
              </figure>
            </td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td class="problem__late">Late Dispatch</td>
            <td class="tooltip__item">Late Dispatch
              <figure class="tooltip left">
                <p class="tooltip__text">Need help with something? Read this message for more details.</p>
              </figure>
            </td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td class="tooltip__item">164062
              <figure class="tooltip up">
                <p class="tooltip__text">Need help with something? Read this message for more details.</p>
              </figure>
            </td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td class="problem__missing">Missing Documents</td>
            <td class="tooltip__item">Missing Documents
              <figure class="tooltip down">
                <p class="tooltip__text">Need help with something? Read this message for more details.</p>
              </figure>
            </td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
          <tr>
            <td>5</td>
            <td><input type="text" placeholder="5" /></td>
            <td><a href="#" class="link--primary">2005 Volvo CX90</a></td>
            <td>50957107</td>
            <td>164062</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>ISTERN-SHORE LIMITED (1337)</td>
            <td>Syracuse (NY) 13036 (Copart)</td>
            <td>1/31/2018</td>
            <td>1/30/2018</td>
            <td>! Buyer Delivery - Buy Payment</td>
            <td>Late Dispatch</td>
            <td>Late Dispatch</td>
            <td>NEW</td>
            <td>Newark</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="tab-2" class="tab__content">
      Tab Content 2
    </div>
    <div id="tab-3" class="tab__content">
      Tab Content 3
    </div>
    <div id="tab-4" class="tab__content">
      Tab Content 4
    </div>
    <div id="tab-5" class="tab__content">
      Tab Content 5
    </div>
    <div id="tab-6" class="tab__content">
      Tab Content 6
    </div>

  </div>
</section>
