<!-- Left Nav -->
<section role="navigation" aria-label="CargoLoop Vehicle Left Navigation" class="left-nav">
  <a class="button--primary" href="/new-vehicle">+ New Vehicle</a>
  <div class="accordion">
    <ul>
      <li>All<span>79666</span></li>
      <li>Chicago<span>79666</span></li>
      <li>Houston<span>79666</span></li>
      <li>Los Angeles<span>79666</span></li>
      <li>Newark<span>79666</span></li>
      <li>Savannah<span>79666</span></li>
      <li>Other<span>79666</span></li>
    </ul>
  </div>
</section>
