<!-- Left Nav -->
<section role="navigation" aria-label="CargoLoop Vehicle Left Navigation" class="left-nav">
  <a class="button--primary" href="/new-vehicle">+ New Vehicle</a>
  <div class="accordion">
    <ul id="accordion">
      <li><a href="#">All<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
      <li><a href="#">Chicago<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
      <li><a href="#">Houston<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
      <li><a href="#">Los Angeles<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
      <li><a href="#">Newark<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
      <li><a href="#">Savannah<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
      <li><a href="#">Other<span>79666</span></a>
        <ul class="subnav">
          <li class="active"><a href="#">Pending<span>28</span></a></li>
          <li><a href="#">New<span>28</span></a></li>
          <li><a href="#">Dispatched<span>28</span></a></li>
          <li><a href="#">At Terminal<span>28</span></a></li>
          <li><a href="#">Booked<span>28</span></a></li>
          <li><a href="#">Loaded<span>28</span></a></li>
          <li><a href="#">Delivered<span>28</span></a></li>
          <li><a href="#">Canceled<span>28</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</section>
