<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Additional Vehicle Details</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Customer Notes<span class="required">*</span></label>
              <textarea></textarea>
            </div>

            <div class="form-group">
              <label>Purchase Date<span class="required">*</span></label>
              <input type="date" placeholder="Placeholder text" />
            </div>

            <div class="form-group">
              <label>Payment Date<span class="required">*</span></label>
              <input type="date" placeholder="Placeholder text" />
            </div>

            <div class="form-group-button">
              <label>Keys</label><br/>
                <input type="radio" />
                Keys Present
                <input class="margin-left" type="radio" />
                Keys Missing
                <input class="margin-left" type="radio" />
                Not Inspected
            </div>

          </div>

          <div class="columns-2__s columns-6__l">
            <div class="form-group-button">
              <label>Consolidate Shipment</label><br/>
                <input type="checkbox" />
                Yes, Consolidate Shipment
            </div>

            <div class="form-group-button">
              <label>Payment Type</label><br/>
                <input type="radio" />
                Shipper Payment
                <input class="margin-left" type="radio" />
                Client Payment<br/>
                <small>Please indicate when this vehicles will by paid to the seller. The shipping company will plan the vehicle pickup based on this date.</small>
            </div>


            <div class="form-group-button">
              <label>Marine Insurance</label><br/>
                <input type="radio" />
                Yes
                <input class="margin-left" type="radio" />
                No<br/>
                <small>Marine Insurance covers all accidents and damages of your vehicle while in transit to the port of discharge. The cost is 1% of vehicle value. If you select "YES", you will be contacted by the shipper's insurance agent. If you select "NO", you agree to the Marine Insurance Waiver. For more details, please <a href="#" class="link--danger">click here</a>.</small>
            </div>

            <div class="form-group-button">
              <label>Operable</label><br/>
                <input type="radio" />
                Yes
                <input class="margin-left" type="radio" />
                No
                <input class="margin-left" type="radio" />
                Not Inspected
            </div>

          </div>
        </div>

        <div class="row">
          <label>Vehicle Details</label><br/>
          <table>
            <thead>
              <tr>
                <th>Description</th>
                <th>Engine</th>
                <th>Use Type</th>
                <th>Body Trim</th>
                <th>Class</th>
                <th>Manufacturer</th>
                <th>Assembly Plant</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2012 Nissan LEAF</td>
                <td>Electric Motor; synchronous; 80 kW Code: j</td>
                <td></td>
                <td>4 Door Hatchback</td>
                <td>Mid-size Car</td>
                <td>Nissan Motor Co. Ltd.</td>
                <td>Oppama</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>

</section>
