<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Dispatch Details</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-10__l">
            <div class="form-group">
              <label>Terminal<span class="required">*</span></label>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
          <div class="columns-2__l">
            <div class="form-group">
              <label>&nbsp;</label>
              <button class="button--secondary button--full">Show Route</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Dispatched Date<span class="required">*</span></label>
              <input type="date" placeholder="Placeholder text" />
            </div>
          </div>
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Promised Pickup Date<span class="required">*</span></label>
              <input type="date" placeholder="Placeholder text" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Promised Delivery Date<span class="required">*</span></label>
              <input type="date" placeholder="Placeholder text" />
            </div>
          </div>
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Actual Delivery Date<span class="required">*</span></label>
              <input type="date" placeholder="Placeholder text" />
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

</section>
