<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Emails</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-10__l">
            <div class="form-group">
              <label>Auction<span class="required">*</span></label>
              <input type="text" placeholder="Enter email addresses" />
            </div>
          </div>

          <div class="columns-2__l">
            <div class="form-group">
              <label>&nbsp;</label>
              <button href="" class="button--primary button--full">Send</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns-12__l">
            <div class="form-group-button">
              <label>Message Type</label><br/>
                <input type="radio" />
                Photos
                <input class="margin-left" type="radio" />
                Not Paid
                <input class="margin-left" type="radio" />
                Missing Title
                <input class="margin-left" type="radio" />
                Missing Bill of Sale
            </div>
          </div>
        </div>

        <div class="row">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Sent To</th>
                <th>Sent By</th>
                <th>Email Type</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>02/12/2018</td>
                <td>vinnikov.oleh@gmail.com</td>
                <td>John Solis</td>
                <td>Photos</td>
              </tr>
            </tbody>
          </table>
        </div>

      </form>
    </div>
  </div>

</section>
