<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Feeds</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-4__l">
            <div class="form-group">
              <label>Late Title Fees</label>
              <div class="card">
                <input type="checkbox" />
                Counter ON
              </div>
            </div>
          </div>

          <div class="columns-4__l">
            <div class="form-group">
              <label>Terminal Storage Fees</label>
              <div class="card">
                <input type="checkbox" />
                Counter ON
              </div>
            </div>
          </div>

          <div class="columns-4__l">
            <div class="form-group">
              <label>Extra Fees</label>
              <div class="card">

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</section>
