<section class="details--card">
  <div class="card--shadow log">
    <header>
      <h4>Log</h4>
    </header>
    <div class="container">
      <div class="row">
        <div class="columns-12__l">
          <div class="log-label">
            <p>Date Entered</p>
          </div>
          <div class="log-text">
            <p>02/07/2018 15:05PM</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns-12__l">
          <div class="log-label">
            <p>Entered By</p>
          </div>
          <div class="log-text">
            <p>Oleg Vinnikov (Amco Motors)</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns-12__l">
          <div class="log-label">
            <p>Status</p>
          </div>
          <div class="log-text">
            <p>Delivered</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns-12__l">
          <div class="log-label">
            <p>Account Manager</p>
          </div>
          <div class="log-text">
            <p>Tomas Mascali, <a href="mailto:tomas@usaintercargo.com" class="link--primary">tomas@usaintercargo.com</a>, 317-706-0700 (ext 827)</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns-12__l">
          <div class="log-label">
            <p>QB Connection</p>
          </div>
          <div class="log-text">
            <p>Connected</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns-12__l">
          <div class="log-label">
            <p>Container Invoice</p>
          </div>
          <div class="log-text">
            <p>#CL0000-60797 02/16/2018 Erna Babayn (USA InterCargo LLC) Emailed 02/16/2018 to vinnikov.oleh@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
