<section class="details--card">
  <div class="card--shadow photos">
    <header>
      <h4>Photos</h4>
    </header>
    <div class="container">
      <div class="columns-12__l">
        <img src="http://via.placeholder.com/300x225" />
      </div>
    </div>
  </div>

</section>
