<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Shipping Details</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Port of Discharge<span class="required">*</span></label>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>

          <div class="columns-2__s columns-6__l">
            <div class="form-group">
              <label>Place of Delivery<span class="required">*</span></label>
              <select>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <label>Container Details</label><br/>
          <table>
            <thead>
              <tr>
                <th>Container Number</th>
                <th>Booking Number</th>
                <th>Shipped Date</th>
                <th>Arrival Date</th>
                <th>Shipping Line</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="" class="link--primary">CAIU7356905</a></td>
                <td><a href="" class="link--primary">038RUN1453706</a></td>
                <td><a href="" class="link--primary">01/16/2018</a></td>
                <td><a href="" class="link--primary">02/12/2018</a></td>
                <td><a href="" class="link--primary">MSC</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>

</section>
