<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Action Items</h4>
    </header>
    <div class="container">
      <div class="row">
        <div class="one__fifth">
          <div class="card action--blue">
            <h5>683</h5>
            <p>Missing<br/>Titles</p>
          </div>
        </div>
        <div class="one__fifth">
          <div class="card action--blue">
            <h5>978</h5>
            <p>Missing Auction<br/>Receipts</p>
          </div>
        </div>
        <div class="one__fifth">
          <div class="card action--blue">
            <h5>34</h5>
            <p>Invalid<br/>Documents</p>
          </div>
        </div>
        <div class="one__fifth">
          <div class="card action--blue">
            <h5>27,774</h5>
            <p>Vehicles<br/>Not Paid</p>
          </div>
        </div>
        <div class="one__fifth">
          <div class="card action--blue">
            <h5>96</h5>
            <p>Containers Arriving<br/>in 3 Days</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
