<section class="details--card">
  <div class="card--shadow">
    <header>
      <h4>Messages</h4>
    </header>
    <div class="container">
      <form>
        <div class="row">
          <div class="columns-12__l">
            <div class="form-group">
              <input type="search" placeholder="Search" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="columns-6__l">
            <div class="form-group">
              <input type="date" placeholder="From" />
            </div>
          </div>
          <div class="columns-6__l">
            <div class="form-group">
              <input type="date" placeholder="To" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="columns-6__l">
            <button href="" class="button--secondary button--full">Search</button>
          </div>
          <div class="columns-6__l">
            <button href="" class="button--default button--full">Clear</button>
          </div>
        </div>
      </form>

      <div class="messages">
        <div class="row">
          <div class="chip__container">
            <div class="chip__avatar">
              <h5 class="chip__avatar-text">MB</h5>
            </div>
            <div class="chip__text-container">
              <p class="chip__text-title">Title of message goes here</p>
              <p class="chip__text-description">12:05 pm 2/2/2018</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="chip__container">
            <div class="chip__avatar">
              <h5 class="chip__avatar-text">MB</h5>
            </div>
            <div class="chip__text-container">
              <p class="chip__text-title">Title of message goes here</p>
              <p class="chip__text-description">12:05 pm 2/2/2018</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="chip__container">
            <div class="chip__avatar">
              <h5 class="chip__avatar-text">MB</h5>
            </div>
            <div class="chip__text-container">
              <p class="chip__text-title">Title of message goes here</p>
              <p class="chip__text-description">12:05 pm 2/2/2018</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="chip__container">
            <div class="chip__avatar">
              <h5 class="chip__avatar-text">MB</h5>
            </div>
            <div class="chip__text-container">
              <p class="chip__text-title">Title of message goes here</p>
              <p class="chip__text-description">12:05 pm 2/2/2018</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="chip__container">
            <div class="chip__avatar">
              <h5 class="chip__avatar-text">MB</h5>
            </div>
            <div class="chip__text-container">
              <p class="chip__text-title">Title of message goes here</p>
              <p class="chip__text-description">12:05 pm 2/2/2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
