---
title: CargoLoop - Dashboard
---

<header class="page--header">
  <div class="page--title">
    <h3>Dashboard</h3>
  </div>
</header>

<%= partial 'layouts/partials/dashboard/action-items' %>

<div class="row">
  <div class="columns-9__m columns-8__l">
    <%= partial 'layouts/partials/dashboard/overview' %>
  </div>
  <div class="columns-3__m columns-4__l">
    <%= partial 'layouts/partials/dashboard/messages' %>
  </div>
</div>
