---
title: CargoLoop - Vehicles
---
<%= partial 'layouts/partials/vehicles/vehicle-leftnav' %>

<section class="app-content">
  <%= partial 'layouts/partials/vehicles/vehicle-search' %>
  <%= partial 'layouts/partials/vehicles/vehicle-table' %>
</section>
